<li>
	{{name}}

	<button class="change-eat" data-id="{{id}}" data-newly-eaten="{{eat}}">
		{{#if eat}}EAT!{{else}}REGURGITATE!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
